* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(24, 1fr);
    overflow: hidden;
}

/* HEADER */ 

nav {
    background-color: #F1F1F1;
    grid-column: 1 / 25;
    grid-row: 1 / 4;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
}

#nav-logo {
    grid-column: 2 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav img {
    width: 14.625rem;
    height: 5.375rem;
}

#nav-tabs {
    grid-column: 8 / 19;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

.nav-item {
    font-size: 1.5rem;
}

.nav-item a {
    text-decoration: none;
    color: #C1121F;
}


/* LISTE DES JOUEURS PAR ÉQUIPE */ 

main {
    grid-column: 1 / 25;
    grid-row: 4 / 25;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(24, 1fr);
}

#player-dashboard {
    grid-column: 1 / 25;
    grid-row: 1 / 25;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(24, 1fr);
    column-gap: 1.25rem;
}

#player-list-title {
    grid-column: 1 / 25;
    grid-row: 1 / 3;
    text-align: center;
    color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

#card-player-list {
    grid-column: 2 / 16;
    grid-row: 3 / 23;
    display: grid;
    grid-template-columns: repeat(22, 1fr);
    grid-template-rows: repeat(22, 1fr);
    background-color: #F1F1F1;
    border-radius: 1.563rem;
    height: 40rem;
    min-height: 0;
    overflow: hidden;
}

#card-player-list-content {
    grid-column: 2 / 22;
    grid-row: 1 / 22;
    display: grid;
    grid-template-columns: repeat(22, 1fr);
    grid-template-rows: repeat(22, 1fr);
}

#card-player-list-content h3{
    font-weight: semibold;
    font-size: 1.5rem;
    text-align:center;
    margin: 1rem;
    grid-column: 1 / 25;
    grid-row: 1 / 25;
}

#player-list-table {
    grid-column: 1 / 25;
    grid-row: 3 / 25;
    max-height: 32rem;
    overflow-y: auto;
    overflow-x: hidden;
}

table {
    width: 100%;
    border-spacing: 0;
    border-radius: 1rem;
    overflow: hidden;
    grid-column: 1 / 24;
    background-color: #FFFFFF;
}

th {
    font-size: 1.5rem;
    font-weight: medium;
    background-color: #333333;
    color: white;
}

tbody tr td{
    text-align: center;
    font-size: 1rem;
    font-weight: semibold;
}

th, td {
    border: 1px solid #111;
    height: 3.8rem;
}

table thead tr:first-child th:first-child {
    border-top-left-radius: 1.563rem;
}

table thead tr:first-child th:last-child {
    border-top-right-radius: 1.563rem;
}

table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 1.563rem;
}

table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 1.563rem;
}



/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #FFFFFF;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 1.5625rem;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 18px 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  max-height: 15rem;
  transition: max-height 0.3s ease;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}



/* AJOUTER UN JOUEUR */ 

#card-add-player {
    grid-column: 16 / 24;
    grid-row: 3 / 23;
    background-color: #F1F1F1;
    border-radius: 1.563rem;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(24, 1fr);
    padding: 2rem;
}

#add-player-title {
    grid-column: 1/25;
    grid-row: 1/3;
    font-weight: semibold;
    font-size: 1.5rem;
    text-align:center;
}

#card-add-player form {
    grid-column: 1/25;
    grid-row: 3/25;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#card-add-player form label {
    font-size: 1.5rem;
}

#card-add-player form input {
    font-size: 1rem;
    border-radius: 1.125rem;
    border: none;
    padding: 0 1.875rem;
    height: 3rem;
}

#card-add-player form select {
    font-size: 1.563rem;
    border-radius: 1.125rem;
    border: none;
    padding: 0 1.875rem;
    height: 2rem;
}

#file {
    height: 2rem !important;
    padding: 0 0 !important;
}

#submit-login-button{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 2 / 12;
}

#card-add-player form button {
    height: 4rem;
    background-color: #C1121F;
    border-radius: 1.188rem;
    grid-column: 2 / 12;
    color: white;
    font-size: 1.875rem;
    border: none;
    width: 100%;
}

#card-add-player form button:hover {
    background-color: #A10F1B;
    cursor: pointer;
}

#actions-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/* Toggle switch style for "En prison" */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 22px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}
.switch input:checked + .slider {
  background-color: #C1121F;
}
.switch input:checked + .slider:before {
  transform: translateX(18px);
}