@import url('variables.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: var(--color-bg);
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(24, 1fr);
    overflow: hidden;
}

/* HEADER */

nav {
    grid-column: 1 / 25;
    grid-row: 1 / 5;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
}

.logo-lct-submit{
    grid-column: 1 / 5;
}

.logo-lct-submit img {
    width: 21.563rem;
    height: 8rem;
}

/* FORMULAIRE DE SOUMISSION */

main {
        grid-column: 1 / 25;
        grid-row: 4 / 25;
        display: grid;
        grid-template-columns: repeat(24, 1fr);
        grid-template-rows: repeat(24, 1fr);
        height: 100%;
        margin: 0 3.125rem 0 3.125rem;
}

#form-submit-flag {
    grid-column: 5 / 21;
    grid-row: 1 / 23;
    background-color: var(--color-table-header);
    border-radius: 1.563rem;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(14, 1fr);
}

#form-submit-flag h2 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.875rem;
    grid-column: 1 / 15;
    grid-row: 2 / 3;
}

form {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1.563rem;
    grid-column: 2 / 14;
    grid-row: 3 / 14;
}

form input, select {
    height: 4rem;
    border-radius: 1.188rem;
    padding: 0 1.875rem;
    font-size: 1.563rem;
}

form label {
    margin: .63rem 0 0.63rem 0;
}

form p{
    margin-top: 1rem; 
    text-align: center;
}

#submit-flag-button {
    display: grid;
    grid-template-columns: repeat(12, 1fr);}

form button {
    margin-top: 3rem;
    height: 5rem;
    background-color: var(--color-primary);;
    border-radius: 1.188rem;
    grid-column: 2 / 12;
    color: white;
    font-size: 1.875rem;
    border: none;
}

form button:hover {
    background-color: var(--color-primary-dark);
    cursor: pointer;
}
